.main-container {
    display: flex;
    flex-direction: column;    

    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 0;
}

.main-container h4 {
    order: 1;
    margin-bottom: 40px;
}

.main-container #filter-form {
    order: 2;
    margin-bottom: 20px;
}

.main-container #main-table {
    order: 3;
    margin-bottom: 20px;
}

.main-container .controls {
    order: 4;
    margin-bottom: 20px;
}

th {
    cursor: pointer;
}